body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #ac0f0fab, #0a720a, #098288, #b7b72b);
}

  

.clock {
    width: 400px;
    height: 400px;
    border-radius: 60%;
    background-color: #a6dae4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face {
    position: relative;
    width: 95%;
    height: 95%;
    border-radius: 90%;
    background-color: #7a0f0f7b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour-hand, .minute-hand, .second-hand {
    position: absolute;
    background-color: #333;
    transform-origin: center bottom;
}

.hour-hand {
    width: 3px;
    height: 30%;
    top: 25%;
}

.minute-hand {
    width: 2px;
    height: 40%;
    top: 15%;
}

.second-hand {
    width: 2px;
    height: 45%;
    top: 10%;
}


